body {
    background-color: white;
    background-image: url("../img/restaurant.png");
    height:100vh;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    color:white;
}

ul{
    list-style-type: none;
}
/*navbar by Michael Jannino*/

.navbar-custom{
    background-color: #09d191;
    border-color: #85c8c5;
    color: white;
}

.navbar-custom a{
    text-decoration: none !important;
    color:white;
}

.nav > li:hover{
    background-color:none !important;
}

.nav > li:focus{
    background-color:none !important;
}

.jumbotron {
    background-image: url("../img/jumbotron.jpg");
    background-size: cover;
    height: 100%;
}

.profile-jumbotron{
    height: 20em !important;
    background-image: url("../img/profile-jumbotron.jpg");
    width:100%;
}

.profile-picture{
    padding-top:3em;
}

.profile-tab{
    width:50%;
    float:left;
    background-color:#09d191;
    text-decoration:none !important;
    color:white !important;
}

.profile-tab a{
     text-decoration:none !important;
    color:white !important;   
}

/*  

These are imported grid layout boxes I had from an old project
-Michael Jannino

*/
.easeAni {  -webkit-transition: all 0.3s ease-in; -moz-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in; transition: all 0.3s ease-in;}
  
.boxTile {  background: #333;  height: 0;  padding-bottom: 50%;  position: relative;  width: 100%;}
.boxTile .square { position: absolute; bottom: 0;  left: 0;  right: 0;  top: 0;}
.boxTile .square img {  display: block;  height: 100%;  width: 50%;}
.boxTile .info {  bottom: 0;  left: 50%;  overflow: hidden;  padding: 15px;  position: absolute;  right: 0;  top: 0;}
.boxTile:hover .info { background: #07af79;}
.boxTile .text {  color: #FFFFFF;  max-height: 100%;  overflow: hidden;  width: 100%;}
.boxTile .text h2 {  color: #FFF;  display: inline-block;  font-size: 130%;  margin: 8px 0; padding-right:1em;}
.boxTile .text p {  color: #09d191;  text-transform: uppercase;  white-space: nowrap; font-size: 80%; padding-right:1em;}



@media (max-width: 768px) {

.boxTile .square img {  display: block;  width: 50% !important;  }

}

@media (min-width: 768px) {

.boxTile .square img {  display: block;  width: 50% !important;  }

}


@media (min-width: 1200px) {

.boxTile {  padding-bottom: 100%;  }
.boxTile .square img {  display: block;  width: 100% !important;  }
.boxTile .info {  top: 50%;  background: #000; background: rgba(0, 0, 0, 0.6); filter: alpha(opacity=60);}

}


.branding-font{
    font-family: 'Courgette', cursive;
}

.jumbo-title{
    padding-top:20vh;
}

.menu-icon{
    padding-top:2em;
}

p, input {
    color: black;
    text-align: left;
    font-size: 12pt;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0 2px 0 2px ;
    /*text-indent: 10px;*/
}


/* Login modal */

.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  color:#2f4f4f;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #09d191;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #07af79;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}


/* Old styles */


#searchsidebar{
    padding-left: 20px;
    width:275px;
    height: 100%;
    height: calc(100vh-90px);
    float:left;
    overflow:hidden;
    background: #666666;
    display:inline-block;
}


#searchresults{
    height:100%;
    background:grey;
}

#title{
    text-align:center    ;
    padding-top: 50px;
    display:inline;
    float:left;
    color:grey;   
}

#columns{
    padding-top:200px;
}

.checkbox-grid li {    
    display: block;
    float: left;
    width: 50%;
}