body {
    background-color: white;
    background-image: url("restaurant.png");
    height:100vh;
}

p, h1, h2, h3, a, ul, li{

    font-family: 'Source Sans Pro', sans-serif;

}

p, input, label {
    color: black;
    text-align: left;
    font-size: 12pt;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0 2px 0 2px ;
    /*text-indent: 10px;*/
}

#logo{
    display:inline;
    float:left;
    color:white;   
}

#navbar{

    margin-top:25px;
    margin-bottom:25px;
    display:inline;
    float:right;
    font-size: 14pt;
    text-decoration: none;
    font-weight: bold;
    padding-right:10px;
}

#navbar a{
    text-decoration: none;
    color: white;
}

#container{
    display:block;
    background: rgba(255, 255, 255, .7);
    width:auto;
    height:85%;
    height:calc(100vh-90px);
    margin-bottom:20px;
}

#searchsidebar{
    padding-left: 20px;
    width:275px;
    height: 100%;
    height: calc(100vh-90px);
    float:left;
    overflow:hidden;
    background: #666666;
    display:inline-block;
}


#searchresults{
    height:100%;
    background:grey;
   
}

#title{
    text-align:center    ;
    padding-top: 50px;
    display:inline;
    float:left;
    color:grey;   
}

#reciperesult{
    
    margin:20px;
    background: #999999;
    border-radius: 25px;
    padding:15px;
    margin:10px;
}

img{
 padding-left: 30px;    
}

#columns{
    padding-top:200px;
}

.checkbox-grid li {    
    display: block;
    float: left;
    width: 50%;
}
